<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028345346431-nq9rf96o0u9bt64aoa9v7k8mkh8qgltt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028345346431-nq9rf96o0u9bt64aoa9v7k8mkh8qgltt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028345346431-4lkqgiql2gabfv7upnkaf910e6fpdniq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw--JLb053XtfwnNT4v_z2STIsaY5bc8M</string>
	<key>GCM_SENDER_ID</key>
	<string>1028345346431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>menta-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>menta-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028345346431:ios:b16e01cf394c0af094c24a</string>
</dict>
</plist>